<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                    <span>CAC - Movies</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <!-- banner-movie: mostrar imagen -->
        <section id="banner-movie">
            <!-- División contenedora -->
            <div>
                <!-- División para movie-detail espacio para dos partes una para poster
                y otra para descripción -->
                <div>       
                    <!-- Para poster -->
                    <div>
                        <img src="../static/img/Pixels.jpeg" alt="">
                    </div>
                    
                    <!-- Info -->
                    <div>
                        <!-- Para titulo,año, tipo -->
                        <div>
                            <h2>Pixels<span>(2015)</span></h2>
                            <p>24/07/2015 • Action, Family, Fantasy, Comedy • 1h 45m</p>
                        </div>

                        <!-- Descripción de la trama-->
                        <div>
                            <h3>Overview</h3>
                            <p>Pixels is a 2015 science fiction comedy film[6] directed by Chris Columbus, written by Tim Herlihy and Timothy Dowling, and produced by Columbus, Adam Sandler, Allen Covert, and Mark Radcliffe.[5] Based on the 2010 short film of the same name by Patrick Jean, the film stars Sandler in the lead role, Kevin James, Michelle Monaghan, Peter Dinklage, Josh Gad, and Brian Cox. Combining animated video game characters and visual effects, the film follows an alien race misinterpreting video feeds of classic arcade games as a declaration of war, in which they respond by invading Earth using technology inspired by the same games. To counter the invasion, the United States assembles a team of former arcade champions to lead the planet's defense.

                                Development on the film began in 2010 with Chris Columbus signing on to direct in 2013. Licensing for arcade game characters that appear in the film was obtained the following year. Filming began in Toronto on May 28, 2014, and was completed in three months. In post-production, visual effect techniques employed the use of voxels, a three-dimensional cube in 3D computer graphics, to replicate the low-resolution pixels of older arcade games on the screen.
                                
                                Pixels was theatrically released in the United States on July 24, 2015, by Columbia Pictures. The film received generally negative reviews and grossed $244 million worldwide against a production budget of $88–129 million.</p>                            
                        </div>

                        <!-- Créditos -->
                        <div>
                            <!-- Info director -->
                            <div>
                                <p>Chris Columbus</p>
                                <p>Director</p>
                            </div>

                            <!-- Info director -->
                            <div>
                                <p>Chris Columbus</p>
                                <p>Director</p>
                            </div>

                            <!-- Info escritor -->
                            <div>
                                <p>Tim Herlihy</p>
                                <p>Writer</p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </section>

        <!-- more-info: mostrar info de la pelicula  -->
        <section id="more-info">
            <!-- División contenedora -->
            <div>
                <!-- División para más info de las peliculas -->
                <div>
                    <!-- Trailer -->
                    <div>   
                        <h3>Ver trailer</h3>
                        <!-- Video del tráiler -->
                        <div>
                            <iframe type="text/html" style="background-color: #000;" width="100%" height="315" src="https://www.youtube.com/watch?v=XAHprLW48no?autoplay=1&amp;origin=https%3A%2F%2Fwww.themoviedb.org&amp;hl=en&amp;modestbranding=1&amp;fs=1&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                

                    <!-- Más info -->
                    <div>
                        <!-- Lista: redes sociales 
                        se agregarán iconos-->
                        <div>
                            <ul>
                                <li><a href="" target="_blank">Facebook</a></li>
                                <li><a href="" target="_blank">Twiter</a></li>
                                <li><a href="">Instagram</a></li>
                                <li><a href="">Movie</a></li>
                            </ul>
                        </div>

                        <!-- Tabla con más info -->
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Status</strong></td>
                                        <td>Released</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Original Language</strong></td>
                                        <td>English</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Budget</strong></td>
                                        <td> $88.000.000,00</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Revenue</strong></td>
                                        <td> $244.000.000,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    
    <!-- Pie de página -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    
</body>
</html>