<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                    <span>CAC - Movies</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <!-- banner-movie: mostrar imagen -->
        <section id="banner-movie">
            <!-- División contenedora -->
            <div>
                <!-- División para movie-detail espacio para dos partes una para poster
                y otra para descripción -->
                <div>       
                    <!-- Para poster -->
                    <div>
                        <img src="static/img/mario.jpg" alt="">
                    </div>
                    
                    <!-- Info -->
                    <div>
                        <!-- Para titulo,año, tipo -->
                        <div>
                            <h2>The Super Mario Bros. Movie <span>(2023)</span></h2>
                            <p>04/05/2023 • Animation, Family, Adventure, Fantasy, Comedy • 1h 33m</p>
                        </div>

                        <!-- Descripción de la trama-->
                        <div>
                            <h3>Overview</h3>
                            <p>While working underground to fix a water main, Brooklyn 
                                plumbers—and brothers—Mario and Luigi are transported
                                down a mysterious pipe and wander into a magical new world. 
                                But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>                            
                        </div>

                        <!-- Créditos -->
                        <div>
                            <!-- Info director -->
                            <div>
                                <p>Aaron Horvath</p>
                                <p>Director</p>
                            </div>

                            <!-- Info director -->
                            <div>
                                <p>Michael Jelenic</p>
                                <p>Director</p>
                            </div>

                            <!-- Info escritor -->
                            <div>
                                <p>Matthew Fogel</p>
                                <p>Writer</p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </section>

        <!-- more-info: mostrar info de la pelicula  -->
        <section id="more-info">
            <!-- División contenedora -->
            <div>
                <!-- División para más info de las peliculas -->
                <div>
                    <!-- Trailer -->
                    <div>   
                        <h3>Ver trailer</h3>
                        <!-- Video del tráiler -->
                        <div>
                            <iframe type="text/html" style="background-color: #000;" width="100%" height="315" src="//www.youtube.com/embed/RjNcTBXTk4I?autoplay=1&amp;origin=https%3A%2F%2Fwww.themoviedb.org&amp;hl=en&amp;modestbranding=1&amp;fs=1&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                

                    <!-- Más info -->
                    <div>
                        <!-- Lista: redes sociales 
                        se agregarán iconos-->
                        <div>
                            <ul>
                                <li><a href="" target="_blank">Facebook</a></li>
                                <li><a href="" target="_blank">Twiter</a></li>
                                <li><a href="">Instagram</a></li>
                                <li><a href="">Movie</a></li>
                            </ul>
                        </div>

                        <!-- Tabla con más info -->
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Status</strong></td>
                                        <td>Released</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Original Language</strong></td>
                                        <td>English</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Budget</strong></td>
                                        <td> $100.000.000,00</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Revenue</strong></td>
                                        <td> $1.347.013.866,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    
    <!-- Pie de página -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    
</body>
</html>