<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>

    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                    <span>CAC - Movies</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
        
    </header>

    <!-- Contenido -->
    <main>
        <section id="form">
            <!-- División contenedora -->
            <div>
                <!-- Entrada para la película -->
                <div>
                    <label for="">Título</label>
                    <input type="text" class="input-search" name="title" id="title">
                </div>

                <!-- Selección de género de película -->
                <div>
                    <label for="">Género</label>
                    <select name="genre" id="genre" class="form-select">
                        <option value="">--Seleccione--</option>
                        <option value="Terror">Terror</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Superheroes">Superheroes</option>
                    </select>
                </div>
                <button></button>
            </div>

        </section>

        <section id="list">
            <h2 >Listado de peliculas</h2>
            <table id="list-table-movies" >
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Género</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <div id="list-div-movies"></div>div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    
</body>
</html>